#views {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.view {
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 650px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
}